@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100vh;
	min-height: 60vh;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
    background-color: #F1F4FB;
}

.popover-body {
	font-size: 24px !important;
    white-space: pre-wrap !important;
}

.clearfix {
	clear: both;
}

.clearfix::after { 
	content: ""; /* Генерируем пустой элемент */
	clear: both; /* Отменяем обтекание*/
	display: block; /* Блочный элемент */
  }

.centered {
	text-align: center;
}

.icon-small {
	width: 70px;
	height: 70px;
}

.icon-smaller {
	width: 58px;
	height: 58px;
	margin-left: -10px;
	border-width: 0px;
	padding: 0 0;
}

.icon-large {
	width: 90px;
	height: 90px;
}

/* Общие настройки элеметовReact Popover */
.popover, .popover-body, .popover-header {
	font-family: 'PT Sans', sans-serif;
	border-radius: 7px;
	border-width: 1px;
	border-color: #89AFE0;
}

.thumbnail-icon {
	margin-left: -5px;
	border-width: 0px;
}

/* Заголовок гостевых страниц */
.guest-header {
	display: block;
	background-size: 100vw 100%;
	margin-left: auto;
    margin-right: auto;
	font-size: 72px;
	text-align: center;
	background-image: url('../images/headline.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.outer-guest-header {
	width: 100%;
	background-color: #3A5985;
}

/* Форма логина */
.loginForm {
	margin-top: 175px;
	margin-left: auto;
    margin-right: auto;
	width: 405px;
	height: 485px;
	text-align: center;
	display: block;
	border-radius: 7px;
	border-width: 0px;
}

.loginForm-formGroup {
	margin-bottom: 0px;
}

/* Для "Вход" */
.loginForm-topLabel {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: -6px;
}

/* Для "Логин" */
.loginForm-label1 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 20px;
	margin-bottom: -1px;
}

/* Для "Забыли пароль? Восстановить" */
.loginForm-label2 {
	display: block;
	margin-top: 15px;
	margin-bottom: 28px;
}

.loginForm-label3 {
	display: block;
	margin-top: 50px;
	margin-bottom: 3px;
}

/* Для "Пароль" */
.loginForm-label4 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 29px;
	margin-bottom: -1px;
}

/* Для сообщения об ошибке логина */
.loginForm-label5 {
	display: block;
	margin-top: 2px;
	margin-bottom: -6px;
	visibility: hidden;
}

/* Ввод на форме логина */
.loginForm-input {
	width: 295px;
	height: 45px;
	margin-left: 55px;
	padding-left: 15px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

/* Кнопки на форме логина */
.loginForm-button {
	width: 295px;
	height: 68px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
}

.loginForm-button:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.loginForm-button:hover {
	background-color: #618FCA;
}

.loginForm-button:disabled {
	background-color: #859dbb;
}

/* Кнопки на панели навигации студента */
.student-navbar-button {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	transition: 0s;
	border-radius: 7px;
	border-width: 0px;
}

.student-navbar-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-navbar-image {
	margin-left: -5px;
	border-width: 0px;
}

.student-navbar-button:hover, .student-navbar-button:hover .student-navbar-image {
	background-color: #618FCA;
}

.student-navbar-button-selected, .student-navbar-button-selected .student-navbar-image {
	background-color: #618FCA !important;
}

.student-navbar-name {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	border-width: 0px;
}

/* Растояние между элементами панели навигации студента */
.student-nav .nav-link {
	padding: 0px 0.2em;
}

.student-nav.navbar-light {
	padding: 0px 0px;
}

.info-form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1489px;
	display: block;
	border-radius: 7px;
	border-width: 0;
}

.info-form-main-tabs .nav-link {
	padding: 0px 0px;
	border-width: 0px;
}

.info-form-image {
	padding: 0px;
	border-width: 0px;
}

.info-form-subtab {
	padding: 4px 4px;
	border-radius: 7px;
	border-width: 0px;
}

.info-form-subtab .nav-link {
	padding: 0px 0px;
	margin-left: 7px;
	border-width: 0px;
}

.info-form-subtab .nav-link.active {
	padding: 0px 0px;
	background-color: #B2CAEE;
}

.info-form-subtab .nav-link:focus .info-form-subtab-title,
.info-form-subtab .nav-link:focus .info-form-subtab-icon {
	background-color: #618FCA;
}

.info-form-subtab-title {
	margin: 0px 0px;
	padding: 0px 6px;
	height: 84px;
	border-radius: 7px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info-form-subtab-icon {
	margin-left: -5px;
	border-width: 0px;
}

.info-form-subtab-icon:hover, .info-form-subtab-title:hover .info-form-subtab-icon {
	background-color: #618FCA;
}

.info-form-subtab-title:hover {
	background-color: #618FCA;
}

.info-text-block {
	height: 500px;
}

.info-text-block-title {
	text-align: center;
	font-weight: 700;
}

.info-text-block-start-date {
	float: left;
	text-align: left;
	margin-left: 14px;
	width: 30%;
}

.info-text-block-end-date {
	float: right;
	text-align: right;
	margin-right: 14px;
	width: 30%;
}

.info-text-block-content {
	column-count: 2;
	column-gap: 70px;
	column-rule-width: 2px;
	column-rule-style: solid;
	column-rule-color: #3A5985;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 20px;
}

.info-break-div {
	height: 16px;
	width: 100%;
	content: '';
	background-color:   #F1F4FB;
}

.info-sub-tab-div {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.info-input-label {
	margin-left: 5%;
}

.info-input {
	margin-left: 218px;
	width: 414px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.info-input-area {
	margin-left: 40px;
	width: 670px;
	height: 84px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.info-input:focus, .info-input-area:focus {
	color: #3A5985;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.info-row {
	display: flex;
}
  
.info-column {
	flex: 50%;
}

.info-button-1 {
	display: block;
	margin-left: 140px;
	padding: 2px 4px;
	margin-top: 40px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
	width: 414px;
	height: 134px;
}

.info-button-1:hover, .info-button-1:hover .thumbnail-icon {
    background-color: #618FCA;
}

.info-button-1:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.info-button-1:disabled, .info-button-1:disabled .img-thumbnail {
    background-color: #859dbb;
}

.info-button-inline-block {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.info-button-inline-block:disabled, .info-button-inline-block:disabled .thumbnail-icon {
	background-color:  #859dbb;
}

.info-button-inline-block:disabled {
	pointer-events: none;
}

.info-button-inline-block:hover, .info-button-inline-block:hover .thumbnail-icon {
    background-color: #618FCA !important;
}

.info-button-inline-block:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.info-input-file-hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.info-file-label1 {
	margin-left: 20px;
	margin-right: 40px;
	padding: 2px 4px;
	cursor: pointer;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.info-file-label1:hover, .info-file-label1:hover .thumbnail-icon {
    background-color: #618FCA;
}

.student-document-form {
	margin-top: 34px;
	margin-left: auto;
    margin-right: auto;
	width: 1440px;
	display: block;
}

.student-document-form:after {
	content: "";
  	display: table;
  	clear: both;
}

.student-document-form-menu {
	float: left;
	width: 210px;
	border-radius: 7px;
	padding: 10px 10px;
}

.student-document-form-docs {
	float: left;
	margin-left: 10px;
	width: 1220px;
	border-radius: 7px;
	min-height: 600px;
	padding: 10px 10px;
}

.student-document-button {
	margin-bottom: 10px;
	height: 68px;
	width: 325px;
	border-width: 0px;
	border-radius: 7px;
}

.student-document-button:hover {
    background-color: #618FCA;
}

.student-document-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-document-search-div {
	display: inline-block;
	width: 100%;
	height: 88px;
	margin-bottom: 10px;
	border-radius: 7px;
	padding: 10px 10px;
}

.student-document-search {
	margin-top: 0px;
	width: 1238px;
	border-radius: 7px;
	border-width: 0;
	height: 68px;
	padding-left: 6px;
}

.student-document-search-button {
	width: 172px;
	height: 68px;
	border-radius: 7px;
	border-width: 0;
	padding: 5px 5px;
	margin-left: 1249px;
	margin-top: -67px;
	display: table;
}

.student-document-search-button:hover, .student-document-search-button:hover .icon-smaller {
    background-color: #618FCA;
}

.student-document-search-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-document-search {
	outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-file-filter-type-hidden {
	display: none !important;
}

.student-file-filter-kind-hidden {
	display: none !important;
}

.student-file-search-hidden {
	display: none !important;
}

.student-file {
	height: 90px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 7px;
	display: inline-flex;
}

.student-file-selectable {
	border-radius: 7px;
	height: 90px;
	width: 965px;
	padding: 5px 10px;
}

.student-file-selectable:hover {
	cursor: pointer;
}

.student-file-selected {
	background-color: #618FCA !important;
}

.student-file-icon {
	margin-top: -70px;
	display: inline-block;
}

.student-file-content {
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 882px;
}

.student-file-delete-button {
	margin-left: 10px;
	width: 90px;
	height: 90px;
	border-radius: 7px;
	border-width: 0;
}

.student-file-delete-button:hover:enabled, .student-file-delete-button:hover:enabled .icon-small {
    background-color: #618FCA;
}

.student-file-delete-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.file-filter-div {
	margin-bottom: 10px;
}

.file-filter-group {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.filter-title {
	margin-left: 20px;
}

.file-filter-checkbox {
	height: 30px;
	width: 30px;
	border-radius: 7px;
	margin-left: 10px;
	margin-right: 11px;
}

.file-filter-checkbox-label {
	display:inline-block;
	position: relative;
	top: -6px;
}

.file-filter-checkbox:hover, .file-filter-checkbox-label:hover {
	cursor: pointer;
}

.file-delete-modal {
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 446px;
	height: 189px;
	border-radius: 7px;
	padding: 0px 0px;
	overflow: hidden !important;
	white-space: nowrap;
}

.file-delete-modal .modal-content {
	margin: 0px 0px;
	border-width: 0px;
	background-color: #B2CAEE;
}

.file-delete-modal-text {
	margin-top: -24px;
	margin-left: 13px;
	width: 416px;
}

.file-delete-modal-button {
	position: absolute;
	width: 150px;
	height: 68px;
	border-radius: 7px;
	border-width: 0px;
}

.student-nir-task-version-div {
	width: 100%;
}

.no-versions-message {
	text-align: center;
}

.nir-version {
	width: 1450px;
	margin-left: 15px;
	margin-bottom: 20px;
	border-radius: 7px;
}

.nir-version-header {
	width: 100%;
	height: 50px;
	border-radius: 7px;
	border: 1px solid grey;
}

.nir-header-text {
	display: inline-block;
	margin-right: 5px;
}

.nir-version-clickable {
	width: 665px;
	/*width: 810px; */
	height: 50px;
	border-radius: 7px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: -2px;
	padding-left: 15px;
	padding-top: 8px;
	background-color: #72a6e9 !important;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.nir-version-clickable2 {
	width: 800px;
	/*width: 810px; */
	height: 50px;
	border-radius: 7px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: -2px;
	padding-left: 15px;
	padding-top: 8px;
	background-color: #72a6e9 !important;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.nir-version-clickable:hover, .nir-version-clickable2:hover {
	background-color: #437ecc !important;
}

.nir-version-clickable-selected {
	background-color: #437ecc !important;
}

.nir-version-titles {
	width: 665px;
	/*width: 810px; */
	height: 50px;
	border-radius: 7px;
	display: inline-block;
	position: relative;
	top: -2px;
	padding-left: 15px;
	padding-top: 8px;
}

.nir-version-header-button {
	position: relative;
	top: -2px;
	margin-left: 5px;
	padding: 0px 2px;
	border-radius: 7px;
	border-width: 0;
}

.nir-version-content {
	display: none;
	min-height: 100px;
	width: 100%;
	border-radius: 7px;
	border: 1px solid grey;
	border-top: 0px;
	padding-top: 20px;
}

.nir-text-area {
	margin-left: 25px;
	width: 670px;
	height: 84px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.nir-text-area2 {
	margin-left: 40px;
	width: 670px;
	height: 84px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.nir-text-area:disabled, .nir-text-area2:disabled {
	background-color:  #dcdfe6;
}

.nir-text-label {
	margin-left: 40px;
}

.nir-text-label2 {
	margin-left: 55px;
}

.nir-copy-button {
	margin-left: 155px;
	margin-top: 55px;
	width: 447px;
	height: 64px;
	border-radius: 7px;
	border-width: 0;
}

.nir-copy-button:hover {
	background: #618FCA;
}

.sci-advisor-students-form {
	margin-top: 34px;
	margin-left: auto;
    margin-right: auto;
	width: 1600px;
	display: block;
}

.sci-advisor-status-dropdown-div {
	position: relative;
	display: inline-block;
}
  
.sci-advisor-status-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 200px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.sci-advisor-status-dropdown-content p {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.sci-advisor-status-dropdown-content p:hover {
	background-color: #ddd;
	cursor: pointer;
}

.nir-approval-message {
	text-align: center;
}

.hoc-documentooborot-div {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1489px;
	min-height: 500px;
}

.hoc-documentooborot-side-div {
	float: left;
	width: 345px;
	border-radius: 7px;
	min-height: 500px;
	padding: 10px 10px;
}

.hoc-documentooborot-menu-button {
	width: 285px;
	border-radius: 7px;
	border-width: 0px;
	margin-bottom: 5px;
}

.hoc-documentooborot-content {
	float: left;
	margin-left: 10px;
	width: 1130px;
	border-radius: 7px;
	min-height: 500px;
	padding: 10px 10px;
	display: none;
}

.hoc-documentooborot-content-selected {
	display: block;
}

.hoc-documentooborot-input {
	margin-left: 30px;
	width: 414px;
	height: 44px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.info-sub-tab-title {
	display: block;
	text-align: center;
}

.student-popover {
	white-space: pre-wrap;
}

.popover-header {
	font-size: 24px;
	color: #3A5985;
}

.popover-body {
	font-size: 20px;
	color: #3A5985;
}

.popover-content {
	background-color: lime;
}

/* Отступ снизу, размер футера */
.wrapper {
	min-height: 100vh;
	margin-bottom: -50px;
}

/* Размер футера */
.footer, .push {
	height: 30px;
	text-align: center;
	padding-top: 20px;
}

/* Текст страницы о ненайденной странице */
.no-match {
	margin-top: 15px;
	text-align: center;
}

/* Заголовок сайта */
.size-72 {
    font-size: 72px;
}

/* Заголовки форм */
.size-48 {
    font-size: 48px;
}

.size-42 {
    font-size: 42px;
}

/* Текст кнопок */
.size-32 {
    font-size: 32px;
}

.size-36 {
    font-size: 36px;
}

.size-30 {
    font-size: 30px;
}

.size-28 {
    font-size: 28px;
}

/* Текст "или" и "уже есть аккаунт?" */
.size-24 {
    font-size: 24px;
}

.size-23 {
    font-size: 23px;
}

/* Текст футера */
.size-22 {
    font-size: 22px;
}

/* Прочий текст форм */
.size-21 {
    font-size: 21px;
}

.size-20 {
    font-size: 20px;
}

/* Светлый текст */
.light {
    color:  #F1F4FB;
}

/* Тёмный текст */
.dark {
	color: #3A5985;
}

/* Тёмный текст */
.red {
	color:  #ce2a45;
}

/* Светлый фон */
.light-background {
	background-color: #B2CAEE;
}

.white-background {
	background-color: #F1F4FB;
}

/* Тёмный фон */
.dark-background {
	background-color: #89AFE0;
}

.grey-background {
	background-color: #95b0d2;
}

/* Для просмотра шаблонов и приказов*/
.templatesPanel {
	width: 1478px;
	min-height: 758px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.ordersPanel {
	width: 1478px;
	min-height: 758px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.contentButton {
	width: 362px;
	height: 88px;
	margin-right: 10px;
	background: #89AFE0;
	border-radius: 7px;
	border-width: 0px;
}

.contentButton-selected {
	background: #618FCA;
}

.contentButton:hover {
	background: #618FCA;
}

.contentButton:disabled {
	background-color:  #859dbb;
}

.contentPanel {
	width: 1480px;
	height: 660px;
	background-color: #B2CAEE;
	border-radius: 7px;
	margin-top: 10px;
}

.contentPanel-hidden {
	display: none;
}

.template-doc-download {
	width: 270px;
	height: 90px;
	position: relative;
	top: -9px;
	margin-left: 10px;
	background-color: #89AFE0;;
	border-radius: 7px;
}

.template-doc-download:hover {
	background: #618FCA;
}

.template-name {
	display: inline-block;
	width: 1180px;
	height: 90px;
	background-color: #89AFE0;
	border-radius: 7px;
	border-width: 0px;
}

.template-doc {
	width: 1460px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.template-name-image {
	display:inline-block;
}

.template-name-text {
	display:inline-block;
	margin-left: 20px;
}

.order-doc-download {
	width: 270px;
	height: 90px;
	position: relative;
	top: 9px;
	margin-left: 10px;
	background-color: #89AFE0;;
	border-radius: 7px;
	border-width: 0px;
}

.order-doc-download:hover {
	background: #618FCA;
}

.order-name {
	display: inline-block;
	width: 1180px;
	height: 90px;
	background-color: #89AFE0;
	border-radius: 7px;
	border-width: 0px;
	margin-top: 10px;
}

.order-doc {
	width: 1460px;
	display: inline-block;
	margin-left: 10px;
}

.order-name-image {
	display:inline-block;
}

.order-name-text {
	display:inline-block;
	margin-left: 20px;
}

.sca-scu-version-div {
	width: 100%;
	border-radius: 7px;
	margin-bottom: 5px;
}

.sca-scu-version-header-div {
	width: 100%;
	border-radius: 7px;
	height: 90px;
}

.sca-scu-version-titles-div {
	width: 732px;
	height: 90px;
	display: inline-block;
	position: relative;
	top: 0px;
	border-radius: 7px;
}

.sca-scu-version-button {
	position: relative;
	top: -71px;
	margin-left: 5px;
	padding: 0px 4px;
	border-radius: 7px;
	border-width: 0;
	height: 90px;
}

.sca-scu-version-button:disabled {
	background-color:  #859dbb;
}

.sca-scu-version-title-div1 {
	display: inline-block;
	height: 40px;
	position: relative;
	top: -15px;
}

.sca-scu-version-title-div2 {
	display: inline-block;
	margin-left: 80px;
	height: 40px;
	position: relative;
	top: -30px;
}

.sca-scu-version-status-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 20px;
}

.sca-scu-version-status-dropdown-content p {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.sca-scu-version-status-dropdown-content p:hover {
	background-color: #ddd;
	cursor: pointer;
}

.info-task-block {
	min-height: 100px;
}

.filter-nir {
	display: none !important;
}

.filter-long-pp {
	display: none !important;
}

.filter-pp {
	display: none !important;
}

.filter-vkr {
	display: none !important;
}

.sca-projects-table-div {
	min-height: 300px;
	width: 945px;
	margin-right: 5px;
	border-radius: 7px;
	float: left;
}

.sca-projects-menu-div {
	min-height: 770px;
	width: 490px;
	border-radius: 7px;
	float: left;
	text-align: center;
}

.sca-projects-table-button {
	display: block;
	margin: auto;
	width: 185px;
	height: 73px;
	border-radius: 7px;
}

.sca-projects-table-button:hover:enabled {
	background: #618FCA;
	color: #f1f1f1;
}

.sca-projects-title {
	margin-top: 10px;
}

.sca-projects-text-area {
	width: 450px;
	border-radius: 7px;
	padding-left: 10px;
}

.sca-projects-dropdown {
	width: 450px;
	padding: 2px 4px;
	margin-bottom: 10px;
	border-radius: 7px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sca-projects-dropdown option {
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sca-projects-button {
	width: 300px;
	min-height: 60px;
	border-radius: 7px;
	margin-top: 5px;
}

.sca-projects-button:hover {
	background-color: #618FCA;
}

.sca-projects-button:disabled {
	background-color:  #859dbb;
}

.add-student-dropdown-div {
	position: relative;
}

.add-student-dropdown-div .sci-advisor-status-dropdown-content {
	text-align: center;
}

.sca-examples-div {
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 1480px;
	display: block;
}

.sca-examples-menu-div {
	min-height: 215px;
	width: 350px;
	border-radius: 7px;
	float: left;
	text-align: center;
}

.sca-examples-files-div {
	min-height: 600px;
	width: 1125px;
	border-radius: 7px;
	float: left;
	margin-left: 5px;
}

.sca-examples-button {
	padding: 0px 4px;
	border-radius: 7px;
	width: 300px;
	margin-top: 20px;
}

.sca-examples-button:hover {
	background-color: #618FCA;
}

.sca-examples-button:disabled {
	background-color:  #859dbb;
}

.sca-example-file-div {
	margin-left: 10px;
	margin-top: 5px;
	width: 1105px;
	height: 90px;
}

.sca-example-file-button {
	height: 90px;
	width: 120px;
	margin-left: 5px;
	border-radius: 7px;
}

.sca-example-file-button:hover {
	background-color: #618FCA;
}

.sca-example-file-clickable {
	height: 90px;
	width: 735px;
	border-radius: 7px;
	float: left;
	background-color: #72a6e9 !important;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.sca-example-file-clickable:hover {
	cursor: pointer;
	background-color: #437ecc !important;
}

.sca-example-file-clickable-selected {
	background-color: #437ecc !important;
}

.sca-example-text-div {
	display: inline-block;
	margin-left: 10px;
	width: 635px;
	height: 86px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sca-example-image {
	position: relative;
	top: -35px;
}

.sca-examples-modal1-header {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.sca-examples-modal1-body {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.sca-examples-modal1-header, .sca-examples-modal1-body {
	width: 790px;
	position: relative;
	left: -150px;
}

.sca-examples-dropdown {
	width: 750px;
	padding: 2px 4px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 7px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sca-examples-dropdown option {
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sca-modal-button {
	width: 400px;
	height: 90px;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sca-modal-button:hover {
	background-color:  #618FCA;
}

.sca-modal-button:disabled {
	background-color:  #859dbb;
}

.student-example-div {
	width: 1460px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}

.student-example-title {
	width: 1180px;
	border-radius: 7px;
	height: 90px;
	float: left;
}

.student-example-download {
	width: 270px;
	height: 90px;
	margin-left: 10px;
	background-color: #89AFE0;;
	border-radius: 7px;
}

.student-example-download:hover {
	background: #618FCA;
}

.task-page-accordion-div {
	width: 1460px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.sca-tab-header {
	width: 362px;
	height: 90px;
	line-height:90px;
	text-align: center;
	vertical-align: middle;
	border-radius: 7px;
}

.sca-tab-header:hover {
	background: #618FCA;
}

.sca-tab-header-active {
	background: #618FCA;
}

.sca-tabs .nav-link, .sca-tabs .nav-link.active {
	background-color: #F1F4FB;
	padding-bottom: 20px;
}

.accordion-clickable {
	cursor: pointer;
}

.hoc-assoc-div {
	margin-top: 34px;
	margin-left: auto;
    margin-right: auto;
	width: 1440px;
	display: block;
}

.hoc-assoc-menu-div {
	width: 100%;
	height: 185px;
	margin-bottom: 5px;
	border-radius: 7px;
}

.hoc-table-search {
	margin-top: 10px;
	margin-left: 10px;
	width: 1238px;
	border-radius: 7px;
	border-width: 0;
	height: 68px;
	padding-left: 6px;
}

.hoc-table-search-button {
	width: 172px;
	height: 68px;
	margin-left: 10px;
	border-radius: 7px;
	padding: 5px 5px;
	display: inline-block;
	position: relative;
	top: -2px;
}

.hoc-table-search-hidden {
	display: none;
}

.hoc-table-group-hidden {
	display: none;
}

.hoc-table-speciality-hidden {
	display: none;
}

.hoc-table-group-hidden {
	display: none;
}

.hoc-assoc-select-div {
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
	display: inline-block;
}

.hoc-assoc-select-div-title {
	margin-left: 15px;
	margin-bottom: 5px;
}

.hoc-assoc-select {
	width: 300px;
	border-radius: 7px;
}

.hoc-assoc-after-select {
	margin-left: 29px;
	position: relative;
	top: -40px;
}

.hoc-assoc-button {
	border-radius: 7px;
	padding: 5px 5px;
}

.hoc-table-search-button:hover, .hoc-table-search-button:hover .icon-smaller, .hoc-assoc-button:hover {
	background: #618FCA;
}

.hoc-assoc-button:disabled {
	background-color:  #859dbb;
}

.sca-dropdown-div {
	position: relative;
	display: inline-block;
}

.sca-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 366px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}

.sca-dropdown-content p {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.sca-dropdown-content p:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* Страницы шаблонов и приказов завкафа */

.orders-templates-panel {
	width: 1506px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
	display: block;
}

.hoc-templates-orders-buttons-panel {
	width: 380px;
	height: 399px;
	border-radius: 7px;
	background-color: #B2CAEE;
	float: left;
}

.orders-templates-button {
	margin-top: 9px;
	margin-left: 9px;
	width: 362px;
	height: 88px;
	background-color: #89AFE0;
	border-radius: 7px;
}

.orders-templates-button:hover {
	background-color: #618FCA;
}

.orders-templates-button-selected {
	background-color: #618FCA;
}

.orders-templates-upload-button {
	margin-top: 9px;
	margin-left: 9px;
	width: 362px;
	height: 88px;
	background-color: #89AFE0;
	border-radius: 7px;
}

.orders-templates-upload-button:hover {
	background-color: #618FCA;
}

.orders-templates-upload-button-selected {
	background-color: #618FCA;
}

.hoc-orders-templates-document-panel {
	width: 1107px;
	height: 660px;
	background: #B2CAEE;
	border-radius: 7px;
	float: left;
}

.hoc-orders-templates-document-panel-common {
	width: 1107px;
	height: 660px;
	background: #B2CAEE;
	border-radius: 7px;
	margin-left: 18px;
	float: left;
}

.hoc-order-template-name {
	display: inline-block;
	width: 802px;
	height: 90px;
	border-radius: 7px;
	position: relative;
	top: -9px;
}

.hoc-order-name-div {
	display: inline-block;
	width: 727px;
	height: 125px;
	border-radius: 7px;
	position: relative;
	top: -5px;
}

.hoc-order-titles-div {
	display: inline-block;
	width: 620px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.hoc-order-template-download-button {
	background: #89AFE0;
	width: 127px;
	height: 90px;
	border-radius: 7px;
	margin-left: 5px;
}

.hoc-order-template-download-button:hover {
	background-color: #618FCA;
}

.hoc-order-template-delete-button {
	background: #89AFE0;
	width: 127px;
	height: 90px;
	border-radius: 7px;
	margin-left: 5px;
}

.hoc-order-template-delete-button:hover {
	background-color: #618FCA;
}

.hoc-order-template-delete-button:disabled {
	background-color:  #859dbb;
}

.hoc-order-template-name-image {
	display:inline-block;
}

.hoc-order-template-name-text {
	display:inline-block;
	margin-left: 5px;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.hoc-order-template-doc {
	width: 1082px;
	display: inline-block;
	margin-left: 13px;
	margin-top: 10px;
}

.hoc-orders-templates-document-panel-hidden {
	display: none;
}

.hoc-order-date-input {
	border-radius: 7px;
	width: 300px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.admin-registration-label {
	margin-left: 60px;
	margin-bottom: 5px;
}

.admin-registration-input {
	border-radius: 7px;
	margin-left: 50px;
	width: 600px;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 10px;
}

.admin-registration-input:disabled {
	background-color: rgb(240, 235, 235);
}

.admin-registration-select {
	border-radius: 7px;
	margin-left: 50px;
	width: 600px;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 10px;
}

.admin-registration-select:disabled {
	background-color: rgb(240, 235, 235);
}

.admin-registration-button {
	border-radius: 7px;
	padding: 4px 4px;
}

.admin-registration-button:hover {
	background-color: #618FCA;
}

.admin-registration-button:disabled {
	background-color:  #859dbb;
}

.hoc-confirm-student-button {
	display: block;
	margin: auto;
	margin-top: 10px;
}

.sca-projects-name-cell {
	max-width: 200px;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.sci-table-checkbox {
	transform: scale(2.0);
	margin-left: 10px;
}

.recover-password-div {
	margin-top: 95px;
	margin-left: auto;
    margin-right: auto;
	width: 405px;
	height: 685px;
	text-align: center;
	display: block;
	border-radius: 7px;
}

.forgotten-password-modal-header {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.forgotten-password-modal-body {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	text-align: center;
}

.forgotten-password-input {
	border-radius: 7px;
	text-align: center;
}

.sca-student-theme-area {
	width: 850px;
	border-radius: 7px;
	font-size: 24px;
	padding-left: 10px;
}

.admin-upload-button {
	width:1087px;
	height: 125px;
	border-radius: 7px;
	margin-left: 10px;
	margin-top: 5px;
}

.table-report-mark-text {
	display: inline-block;
	white-space: pre;
	margin-bottom: 0px;
	width: 65px;
}

.hoc-table-stage-hidden {
	display: none;
}

.sca-student-table th {
	padding-left: 6px;
	padding-right: 2px;
}

.messages-big-div {
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 1480px;
	height: 810px;
	display: block;
}

.messages-switch-div {
	width: 600px;
	height: 88px;
	border-radius: 7px;
	float: left;

}

.messages-search-div {
	width: 870px;
	height: 88px;
	border-radius: 7px;
	float: left;
	margin-left: 10px;
}

.messages-sent-div {	
	display: none;
	margin-top: 10px;
	width: 600px;
	height: 712px;
	border-radius: 7px;
	float: left;
	overflow-y: scroll;
}

.messages-received-div {
	margin-top: 10px;
	width: 600px;
	height: 712px;
	border-radius: 7px;
	float: left;
	overflow-y: scroll;
}

.messages-message-div {
	margin-top: 10px;
	margin-left: 10px;
	width: 870px;
	height: 712px;
	border-radius: 7px;
	float: left;
}

.messages-button {
	border-radius: 7px;
	margin-top: 6px;
	margin-left: 10px;
	height: 76px;
	padding-left: 6px;
	margin-left: 5px;
	white-space: nowrap;
	overflow: hidden;
}

.messages-button:hover, .messages-button:hover .message-icon-small {
	background-color: #618FCA;
}

.messages-button:disabled, .messages-button:disabled .message-icon-small {
	/*background-color:  #859dbb; */
	background-color: #618FCA;
}

.messages-search {
	margin-top: 10px;
	margin-left: 10px;
	width: 670px;
	border-radius: 7px;
	border-width: 0;
	height: 68px;
	padding-left: 6px;
}

.messages-search-button {
	width: 172px;
	height: 68px;
	border-radius: 7px;
	border-width: 0;
	padding: 5px 5px;
	margin-left: 690px;
	margin-top: -67px;
	display: table;
}

.messages-search-button:hover, .messages-search-button:hover .icon-smaller {
    background-color: #618FCA;
}

.message-compact-div {
	margin-left: 5px;
	margin-top: 3px;
	width: 560px;
	height: 90px;
	border-radius: 7px;
	padding-top: 5px;
	padding-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.message-compact-div:hover {
	cursor: pointer;
	background-color: #618FCA;
}

.message-compact-div-selected {
	background-color: #618FCA !important;
}

.compact-message-theme {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	top: -80px;
	left: 85px;
	width: 465px;
}

.compact-message-sender {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	top: -80px;
	left: 85px;
	width: 465px;
	top: -80px;
	left: 85px;
	width: 465px;
}

.message-expanded-div {
	display: none;
	height: 100%;
	padding: 10px 10px;
}

.expanded-message-theme {
	border-radius: 7px;
	width: 850px;
	height: 72px;
	resize: none;
	padding-left: 6px;
}

.expanded-message-sender {
	border-radius: 7px;
	width: 850px;
	height: 52px;
	resize: none;
	padding-left: 6px;
}

.expanded-message-receivers {
	border-radius: 7px;
	width: 850px;
	height: 72px;
	resize: none;
	padding-left: 6px;
}

.expanded-message-message {	
	border-radius: 7px;
	width: 850px;
	height: 399px;
	resize: none;
	padding-left: 6px;
}

.expanded-message-button {
	border-radius: 7px;
	height: 76px;
	padding-left: 6px;
	padding-right: 6px;
}

.expanded-message-button:hover, .expanded-message-button:hover .message-icon-small {
	background-color: #618FCA;
}

.expanded-message-button:disabled, .expanded-message-button:disabled .message-icon-small {
	background-color:  #859dbb;
}

.message-search-filter {
	display:none;
}

.message-icon-small {
	width: 58px;
	height: 58px;
	margin-left: -4px;
	border-width: 0px;
	padding: 0 0;
}

.expanded-message-image {
	width: 60px;
	height: 60px;
	margin-left: -2px;
	border-width: 0px;
	padding: 0 0;
	margin-right: 5px;
}

.small-message-image {
	display:inline-block;
}

.compact-received-unread {
	/*background-color: lime !important; */
	background-color: #437ecc;
}

.message-deleted {
	display: none !important;
}

.messages-modal-header {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.messages-modal-body {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.messages-modal-header, .messages-modal-body {
	width: 1400px;
	position: relative;
	left: -450px;
}

.messages-contacts-button {
	width: 443px;
	height: 68px;
	border-radius: 7px;
	border-width: 0;
	padding: 5px 5px;
	margin-left: 927px;
	margin-top: -67px;
	display: table;
}

.messages-contacts-button:hover, .messages-contacts-button:hover .icon-smaller {
    background-color: #618FCA;
}

.messages-contacts-button:disabled, .messages-contacts-button:disabled .icon-smaller {
    background-color:  #859dbb;
}

.new-message-receivers-div {
	width: 1370px;
	height: 120px;
	border-radius: 7px;
	background-color: white;
	margin-top: 88px;
	margin-bottom: 5px;
	padding-top: 3px;
	overflow-y: scroll;
}

.new-message-receivers-text {
	margin-left: 10px;
	display: inline-block;
	width: 90px;
}

.new-message-compact-receiver-div {
	border-radius: 7px;
	border-color: gray;
	background-color: rgb(241, 241, 241);
	border-width: 1px;
	display: inline-block;
	border-style: solid;
	padding-left: 3px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.new-message-compact-receiver-button {
	margin-left: 3px;
	border-radius: 7px;
	width: 25px;
}

.contact-search-dropdown-div {
	position: relative;
	display: inline-block;
}

.contact-search-dropdown-content {
	/*display: none;*/
	position: absolute;
	background-color: #f1f1f1;
	min-width: 745px;
	/*overflow: auto;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 78px;
	border-radius: 7px;

	max-height: 600px;
	overflow-y: scroll;
}

.recommended-contact-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 745px;
	/*overflow: auto;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: -42px;
	left: 625px;
	border-radius: 7px;

	max-height: 600px;
	overflow-y: scroll;
}

.contact-search-dropdown-content p, .recommended-contact-dropdown-content p {
	padding: 0px 16px;
	text-decoration: none;
	display: block;
}
  
.contact-search-dropdown-content p:hover, .recommended-contact-dropdown-content p:hover {
	background-color: #ddd;
	cursor: pointer;
}

.report-attach-div {
	white-space: nowrap;
	margin-top: 20px;
}

.report-attach-checkbox {
	width: 30px;
	height: 30px;
	margin-left: 410px;
	position: relative;
	top: 5px;
}

.attach-checkbox-text {
	margin-left: 10px;
}

.report-message-text {
	margin-left: 625px;
}