@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100vh;
	min-height: 60vh;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
    background-color: #F1F4FB;
}

/* Заголовок гостевых страниц */
.guest-header {
	display: block;
	background-size: 100vw 100%;
	margin-left: auto;
    margin-right: auto;
	font-size: 72px;
	text-align: center;
	background-image: url('../images/headline.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.outer-guest-header {
	width: 100%;
	background-color: #3A5985;
}

/* Форма логина */
.loginForm {
	margin-top: 120px;
	margin-left: auto;
    margin-right: auto;
	width: 405px;
	height: 575px;
	text-align: center;
	display: block;
	border-radius: 7px;
	border-width: 0px;
}

.loginForm-formGroup {
	margin-bottom: 0px;
}

/* Для "Вход" */
.loginForm-topLabel {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: -6px;
}

/* Для "Логин" */
.loginForm-label1 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 20px;
	margin-bottom: -1px;
}

/* Для "Забыли пароль? Восстановить" */
.loginForm-label2 {
	display: block;
	margin-top: 15px;
	margin-bottom: 28px;
}

/* Для "ИЛИ" */
.loginForm-label3 {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Для "Пароль" */
.loginForm-label4 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 8px;
	margin-bottom: -1px;
}

/* Для сообщения об ошибке логина */
.loginForm-label5 {
	display: block;
	margin-top: 2px;
	margin-bottom: -6px;
	visibility: hidden;
}

/* Ввод на форме логина */
.loginForm-input {
	width: 295px;
	height: 45px;
	margin-left: 55px;
	padding-left: 15px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	/* border-color: #618FCA; */
	border-width: 0px;
}

/* Кнопки на форме логина */
.loginForm-button {
	width: 295px;
	height: 68px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	/* border-color: #618FCA; */
	border-width: 0px;
}

.loginForm-button:hover {
	background-color: #618FCA;
}

.loginForm-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Кнопки на панели навигации студента */
.student-navbar-button {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	transition: 0s;
	border-radius: 7px;
	border-width: 0px;
}

.student-navbar-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-navbar-image {
	margin-left: -5px;
	border-width: 0px;
}

.student-navbar-button:hover, .student-navbar-button:hover .student-navbar-image {
	background-color: #618FCA;
}

/* Отступ снизу, размер футера */
.wrapper {
	min-height: 100vh;
	margin-bottom: -50px;
}

/* Размер футера */
.footer, .push {
	height: 30px;
	text-align: center;
	padding-top: 20px;
}

/* Текст страницы о ненайденной странице */
.no-match {
	margin-top: 15px;
	text-align: center;
}

/* Заголовок сайта */
.size-72 {
    font-size: 72px;
}

/* Заголовки форм */
.size-48 {
    font-size: 48px;
}

/* Текст кнопок */
.size-32 {
    font-size: 32px;
}

.size-30 {
    font-size: 30px;
}

/* Текст "или" и "уже есть аккаунт?" */
.size-24 {
    font-size: 24px;
}

/* Текст футера */
.size-22 {
    font-size: 22px;
}

/* Прочий текст форм */
.size-21 {
    font-size: 21px;
}

/* Светлый текст */
.light {
    color:  #F1F4FB;
}

/* Тёмный текст */
.dark {
	color: #3A5985;
}

/* Тёмный текст */
.red {
	color:  #ce2a45;
}

/* Светлый фон */
.light-background
{
	background-color: #B2CAEE;
}

/* Тёмный фон */
.dark-background {
	background-color: #89AFE0;
}
