@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100vh;
	min-height: 60vh;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
    background-color: #F1F4FB;
}

.centered {
	text-align: center;
}

.icon-small {
	width: 70px;
	height: 70px;
}

.icon-smaller {
	width: 58px;
	height: 58px;
	margin-left: -10px;
	border-width: 0px;
	padding: 0 0;
}

.icon-large {
	width: 90px;
	height: 90px;
}

/* Общие настройки элеметовReact Popover */
.popover, .popover-body, .popover-header {
	font-family: 'PT Sans', sans-serif;
	border-radius: 7px;
	border-width: 1px;
	border-color: #89AFE0;
}

.thumbnail-icon {
	margin-left: -5px;
	border-width: 0px;
}

/* Заголовок гостевых страниц */
.guest-header {
	display: block;
	background-size: 100vw 100%;
	margin-left: auto;
    margin-right: auto;
	font-size: 72px;
	text-align: center;
	background-image: url('../images/headline.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.outer-guest-header {
	width: 100%;
	background-color: #3A5985;
}

/* Форма логина */
.loginForm {
	margin-top: 120px;
	margin-left: auto;
    margin-right: auto;
	width: 405px;
	height: 575px;
	text-align: center;
	display: block;
	border-radius: 7px;
	border-width: 0px;
}

.loginForm-formGroup {
	margin-bottom: 0px;
}

/* Для "Вход" */
.loginForm-topLabel {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: -6px;
}

/* Для "Логин" */
.loginForm-label1 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 20px;
	margin-bottom: -1px;
}

/* Для "Забыли пароль? Восстановить" */
.loginForm-label2 {
	display: block;
	margin-top: 15px;
	margin-bottom: 28px;
}

/* Для "ИЛИ" */
.loginForm-label3 {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Для "Пароль" */
.loginForm-label4 {
	display: block;
	text-align: left;
	margin-left: 55px;
	margin-top: 29px;
	margin-bottom: -1px;
}

/* Для сообщения об ошибке логина */
.loginForm-label5 {
	display: block;
	margin-top: 2px;
	margin-bottom: -6px;
	visibility: hidden;
}

/* Ввод на форме логина */
.loginForm-input {
	width: 295px;
	height: 45px;
	margin-left: 55px;
	padding-left: 15px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

/* Кнопки на форме логина */
.loginForm-button {
	width: 295px;
	height: 68px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.loginForm-button:hover {
	background-color: #618FCA;
}

.loginForm-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Кнопки на панели навигации студента */
.student-navbar-button {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;
	transition: 0s;
	border-radius: 7px;
	border-width: 0px;
}

.student-navbar-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-navbar-image {
	margin-left: -5px;
	border-width: 0px;
}

.student-navbar-button:hover, .student-navbar-button:hover .student-navbar-image {
	background-color: #618FCA;
}

.student-navbar-name {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	border-width: 0px;
}

/* Растояние между элементами панели навигации студента */
.student-nav .nav-link {
	padding: 0px 1em;
}

.student-nav.navbar-light {
	padding: 0px 0px;
}

.info-form {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1489px;
	display: block;
	border-radius: 7px;
	border-width: 0;
}

.info-form-main-tabs .nav-link {
	padding: 0px 0px;
	border-width: 0px;
}

.info-form-image {
	padding: 0px;
	border-width: 0px;
}

.info-form-subtab {
	padding: 4px 4px;
	border-radius: 7px;
	border-width: 0px;
}

.info-form-subtab .nav-link {
	padding: 0px 0px;
	margin-left: 7px;
	border-width: 0px;
}

.info-form-subtab .nav-link.active {
	padding: 0px 0px;
	background-color: #B2CAEE;
}

.info-form-subtab .nav-link:focus .info-form-subtab-title,
.info-form-subtab .nav-link:focus .info-form-subtab-icon {
	background-color: #618FCA;
}

.info-form-subtab-title {
	margin: 0px 0px;
	padding: 0px 6px;
	height: 84px;
	border-radius: 7px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info-form-subtab-icon {
	margin-left: -5px;
	border-width: 0px;
}

.info-form-subtab-icon:hover, .info-form-subtab-title:hover .info-form-subtab-icon {
	background-color: #618FCA;
}

.info-form-subtab-title:hover {
	background-color: #618FCA;
}

.info-text-block {
	height: 500px;
}

.info-text-block-title {
	text-align: center;
	font-weight: 700;
}

.info-text-block-start-date {
	float: left;
	text-align: left;
	margin-left: 14px;
	width: 30%;
}

.info-text-block-end-date {
	float: right;
	text-align: right;
	margin-right: 14px;
	width: 30%;
}

.info-text-block-content {
	column-count: 2;
	column-gap: 70px;
	column-rule-width: 2px;
	column-rule-style: solid;
	column-rule-color: #3A5985;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 20px;
}

.info-break-div {
	height: 16px;
	width: 100%;
	content: '';
	background-color:   #F1F4FB;
}

.info-sub-tab-div {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.info-input-label {
	margin-left: 17%;
}

.info-input {
	margin-left: 16.5%;
	width: 66%;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.info-input-area {
	margin-left: 16.5%;
	width: 66%;
	height: 84px;
	padding: 6px 12px;
	border-radius: 7px;
	border-width: 0px;
}

.info-input:focus, .info-input-area:focus {
	color: #3A5985;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.info-button-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 4px;
	margin-top: 40px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.info-button-inline-block {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.info-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.info-input-file-hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.info-file-label1 {
	margin-left: 20px;
	margin-right: 40px;
	padding: 2px 4px;
	cursor: pointer;
	border-radius: 7px;
	font-family: 'PT Sans', sans-serif;
	border-width: 0px;
}

.student-document-form {
	margin-top: 34px;
	margin-left: auto;
    margin-right: auto;
	width: 1440px;
	display: block;
}

.student-document-form:after {
	content: "";
  	display: table;
  	clear: both;
}

.student-document-form-menu {
	float: left;
	width: 345px;
	border-radius: 7px;
	min-height: 500px;
	padding: 10px 10px;
}

.student-document-form-docs {
	float: left;
	margin-left: 10px;
	width: 1085px;
	border-radius: 7px;
	min-height: 500px;
	padding: 10px 10px;
}

.student-document-button {
	margin-bottom: 10px;
	height: 68px;
	width: 325px;
	border-width: 0px;
	border-radius: 7px;
}

.student-document-search-div {
	display: inline-block;
	width: 100%;
	height: 88px;
	margin-bottom: 10px;
	border-radius: 7px;
	padding: 10px 10px;
}

.student-document-search {
	margin-top: 0px;
	width: 1238px;
	border-radius: 7px;
	border-width: 0;
	height: 68px;
	padding-left: 6px;
}

.student-document-search-button {
	width: 172px;
	height: 68px;
	border-radius: 7px;
	border-width: 0;
	padding: 5px 5px;
	margin-left: 1249px;
	margin-top: -67px;
	display: table;
}

.student-document-search {
	outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.student-file {
	height: 90px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 7px;
	display: inline-flex;
}

.student-file-selectable {
	border-radius: 7px;
	height: 90px;
	width: 965px;
	padding: 5px 10px;
}

.student-file-selectable:hover {
	cursor: pointer;
}

.student-file-selected {
	background-color: #618FCA !important;
}

.student-file-icon {
	margin-top: -70px;
	display: inline-block;
}

.student-file-content {
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 882px;
}

.student-file-delete-button {
	margin-left: 10px;
	width: 90px;
	height: 90px;
	border-radius: 7px;
	border-width: 0;
}

/* Отступ снизу, размер футера */
.wrapper {
	min-height: 100vh;
	margin-bottom: -50px;
}

/* Размер футера */
.footer, .push {
	height: 30px;
	text-align: center;
	padding-top: 20px;
}

/* Текст страницы о ненайденной странице */
.no-match {
	margin-top: 15px;
	text-align: center;
}

/* Заголовок сайта */
.size-72 {
    font-size: 72px;
}

/* Заголовки форм */
.size-48 {
    font-size: 48px;
}

/* Текст кнопок */
.size-32 {
    font-size: 32px;
}

.size-30 {
    font-size: 30px;
}

/* Текст "или" и "уже есть аккаунт?" */
.size-24 {
    font-size: 24px;
}

/* Текст футера */
.size-22 {
    font-size: 22px;
}

/* Прочий текст форм */
.size-21 {
    font-size: 21px;
}

.size-20 {
    font-size: 20px;
}

/* Светлый текст */
.light {
    color:  #F1F4FB;
}

/* Тёмный текст */
.dark {
	color: #3A5985;
}

/* Тёмный текст */
.red {
	color:  #ce2a45;
}

/* Светлый фон */
.light-background {
	background-color: #B2CAEE;
}

.white-background {
	background-color: #F1F4FB;
}

/* Тёмный фон */
.dark-background {
	background-color: #89AFE0;
}
